    body {
        height: 200vh;
        background-image: url("daun.png");
        background-size: cover;
        background-position: center;
        /* background-repeat: no-repeat;
    box-sizing: border-box; */
    }
    
    h1 {
        font-weight: bold;
        text-align: center;
        margin-top: 4cm;
        margin-left: 10cm;
        padding-bottom: 10px;
        color: rgb(238, 220, 220);
        font-size: 2cm;
        width: 55%;
        height: 30px;
        background-color: rgb(72, 72, 233);
        line-height: 30px;
        font-size: 20px;
        opacity: 0.8;
        border-radius: 10px 10px 10px 10px;
    }
    
    table {
        text-align: justify;
        width: 45%;
        min-height: 200px;
        border: 2px solid rgb(0, 0, 0);
        margin: 10% auto;
        margin-left: 13cm;
        margin-right: 0.5cm;
        margin-top: 1cm;
        text-align: left;
        color: black;
        border-radius: 10px 10px 10px 10px;
    }
    
    .Beli {
        font-family: monospace;
        padding: 10px 15px;
        text-align: justify;
        margin-top: 4cm;
        margin-left: 13cm;
        padding-bottom: 10px;
        color: white;
        width: 50%;
        height: 30px;
        background-color: rgb(225, 76, 65);
        border: 3px solid rgb(7, 7, 7);
        line-height: 30px;
        font-size: 20px
    }
    
    thead {
        margin-left: 1cm;
        margin-right: 0cm;
        color: black;
    }
    
    .submit {
        font-family: monospace;
        font-size: 0.4cm;
        width: 40%;
        height: 30px;
        background-color: rgb(225, 76, 65);
        padding-left: 2%;
        font-size: 15px;
        color: aliceblue;
        margin-bottom: 1%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
    }
    
    .reset {
        font-family: monospace;
        font-size: 0.4cm;
        width: 60%;
        height: 30px;
        background-color: rgb(225, 76, 65);
        padding-left: 2%;
        font-size: 15px;
        color: aliceblue;
        margin-bottom: 1%;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
    }
    
    .foto {
        width: 250px;
    }
    
    .hasil {
        padding: 30px 10px;
        text-align: justify;
        font-family: monospace;
        width: 25%;
        min-height: 200px;
        border: 6px solid rgb(0, 0, 0);
        background-image: url("cute.jfif");
        background-position: left;
        margin: 50% auto;
        margin-left: 18cm;
        margin-right: 0.5cm;
        margin-top: 1cm;
        color: black;
        font-size: medium;
    }
    
    .hasil h4 {
        margin-left: 1.2cm;
        margin-right: 0.5cm;
        margin-top: 1cm;
    }
    
    .tanggal {
        font-style: italic;
        text-align: right;
        width: 80%;
    }
    /* 
 */
    
    .name {
        text-align: center;
    }
    
    .name a {
        text-decoration: none;
        color: black;
    }
    
    .form_beli td {
        /* width: 40%; */
        /* padding: 5px; */
        text-align: justify;
        /* margin-right: 10cm; */
        margin-top: 1cm;
        padding-left: 3%;
    }